#NET "ADC_OUT_P[0]" LOC = AE26;
#NET "ADC_OUT_N[0]" LOC = AD26;
#NET "ADC_OUT_P[1]" LOC = AE25;
#NET "ADC_OUT_N[1]" LOC = AD25;
#NET "ADC_OUT_P[2]" LOC = AF24;
#NET "ADC_OUT_N[2]" LOC = AF25;
#NET "ADC_OUT_P[3]" LOC = AD24;
#NET "ADC_OUT_N[3]" LOC = AD23;
#NET "ADC_OUT_P[4]" LOC = AD20;
#NET "ADC_OUT_N[4]" LOC = AD21;
#NET "ADC_OUT_P[5]" LOC = AE20;
#NET "ADC_OUT_N[5]" LOC = AE21;
#NET "ADC_OUT_P[6]" LOC = AF19;
#NET "ADC_OUT_N[6]" LOC = AF20;
#NET "ADC_OUT_P[7]" LOC = AF18;
#NET "ADC_OUT_N[7]" LOC = AE18;
#NET "ADC_OUT_P[8]" LOC = AF10;
#NET "ADC_OUT_N[8]" LOC = AE10;
#NET "ADC_OUT_P[9]" LOC = AF17;
#NET "ADC_OUT_N[9]" LOC = AE17;
#NET "ADC_OUT_P[10]" LOC = AF15;
#NET "ADC_OUT_N[10]" LOC = AE15;
#NET "ADC_OUT_P[11]" LOC = AF14;
#NET "ADC_OUT_N[11]" LOC = AF13;
#NET "ADC_OUT_P[12]" LOC = AE8;
#NET "ADC_OUT_N[12]" LOC = AD9;
#NET "ADC_OUT_P[13]" LOC = AE16;
#NET "ADC_OUT_N[13]" LOC = AD16;
#NET "ADC_OUT_P[14]" LOC = AF9;
#NET "ADC_OUT_N[14]" LOC = AF8;
#NET "ADC_OUT_P[15]" LOC = AF7;
#NET "ADC_OUT_N[15]" LOC = AE7;
#NET "ADC_DCO1_P" LOC = E18;
#NET "ADC_DCO1_N" LOC = F19;
#NET "ADC_DCO2_P" LOC = F9;
#NET "ADC_DCO2_N" LOC = F10;
#NET "ADC_FCO1_P" LOC = F18;
#NET "ADC_FCO1_N" LOC = F17;
#NET "ADC_FCO2_P" LOC = F8;
#NET "ADC_FCO2_N" LOC = E8;
#NET "ASIC_D<0>" LOC = E10;
#NET "ASIC_D<1>" LOC = A8;
#NET "ASIC_D<3>" LOC = D8;
#NET "ASIC_D<2>" LOC = C8;
#NET "ASIC_D<4>" LOC = A7;
#NET "ASIC_D<5>" LOC = B7;
#NET "ASIC_D<6>" LOC = C7;
#NET "ASIC_D<7>" LOC = B6;
#NET "ASIC_D<8>" LOC = C6;
#NET "ASIC_D<9>" LOC = D6;
#NET "ASIC_D<10>" LOC = A5;
#NET "ASIC_D<11>" LOC = B5;
#NET "ASIC_D<12>" LOC = D5;
#NET "ASIC_D<13>" LOC = A4;
#NET "ASIC_D<14>" LOC = B4;
#NET "ASIC_D<15>" LOC = C4;
#NET "ASIC_D<16>" LOC = A3;
#NET "ASIC_D<17>" LOC = A2;
#NET "ASIC_D<18>" LOC = B2;
#NET "ASIC_D<19>" LOC = B1;
#NET "ASIC_D<20>" LOC = H3;
#NET "ASIC_D<21>" LOC = H4;
#NET "ASIC_D<22>" LOC = G1;
#NET "ASIC_D<23>" LOC = G2;
#NET "ASIC_D<24>" LOC = G4;
#NET "ASIC_D<25>" LOC = G5;
#NET "ASIC_D<26>" LOC = F2;
#NET "ASIC_D<27>" LOC = F3;
#NET "ASIC_D<28>" LOC = F4;
#NET "ASIC_D<29>" LOC = F5;
#NET "ASIC_D<30>" LOC = E1;
#NET "ASIC_D<31>" LOC = E2;
#NET "ASIC_D<32>" LOC = E3;
#NET "ASIC_D<33>" LOC = E5;
#NET "ASIC_D<34>" LOC = D1;
#NET "ASIC_D<35>" LOC = D3;
#NET "ASIC_D<36>" LOC = D4;
#NET "ASIC_D<37>" LOC = C1;
#NET "ASIC_D<38>" LOC = C2;
#NET "ASIC_D<39>" LOC = C3;
#NET "ASIC_D<40>" LOC = H2;
#NET "ASIC_D<41>" LOC = H1;
#NET "ASIC_D<42>" LOC = J5;
#NET "ASIC_D<43>" LOC = J4;
#NET "ASIC_D<44>" LOC = J3;
#NET "ASIC_D<45>" LOC = J1;
#NET "ASIC_D<46>" LOC = K5;
#NET "ASIC_D<47>" LOC = K3;
#NET "ASIC_D<48>" LOC = K2;
#NET "ASIC_D<49>" LOC = K1;
#NET "ASIC_D<50>" LOC = L5;
#NET "ASIC_D<51>" LOC = L4;
#NET "ASIC_D<52>" LOC = L3;
#NET "ASIC_D<53>" LOC = L2;
#NET "ASIC_D<54>" LOC = M5;
#NET "ASIC_D<59>" LOC = N3;
#NET "ASIC_D<55>" LOC = M4;
#NET "ASIC_D<56>" LOC = M2;
#NET "ASIC_D<57>" LOC = M1;
#NET "ASIC_D<58>" LOC = N4;
#NET "ASIC_D<60>" LOC = V2;
#NET "ASIC_D<61>" LOC = V1;
#NET "ASIC_D<62>" LOC = U5;
#NET "ASIC_D<63>" LOC = U4;
#NET "ASIC_D<64>" LOC = U2;
#NET "ASIC_D<65>" LOC = U1;
#NET "ASIC_D<66>" LOC = T5;
#NET "ASIC_D<67>" LOC = T4;
#NET "ASIC_D<68>" LOC = T3;
#NET "ASIC_D<69>" LOC = T2;
#NET "ASIC_D<70>" LOC = R5;
#NET "ASIC_D<71>" LOC = R3;
#NET "ASIC_D<72>" LOC = R2;
#NET "ASIC_D<73>" LOC = R1;
#NET "ASIC_D<74>" LOC = P5;
#NET "ASIC_D<75>" LOC = P4;
#NET "ASIC_D<76>" LOC = P3;
#NET "ASIC_D<77>" LOC = P1;
#NET "ASIC_D<78>" LOC = N1;
#NET "ASIC_D<79>" LOC = N2;
#NET "ASIC_D<80>" LOC = V3;
#NET "ASIC_D<81>" LOC = V4;
#NET "ASIC_D<86>" LOC = Y1;
#NET "ASIC_D<82>" LOC = W1;
#NET "ASIC_D<83>" LOC = W3;
#NET "ASIC_D<84>" LOC = W4;
#NET "ASIC_D<85>" LOC = W5;
#NET "ASIC_D<87>" LOC = Y2;
#NET "ASIC_D<88>" LOC = Y3;
#NET "ASIC_D<89>" LOC = Y5;
#NET "ASIC_D<90>" LOC = AA2;
#NET "ASIC_D<91>" LOC = AA3;
#NET "ASIC_D<92>" LOC = AA4;
#NET "ASIC_D<93>" LOC = AA5;
#NET "ASIC_D<94>" LOC = AB1;
#NET "ASIC_D<95>" LOC = AB2;
#NET "ASIC_D<96>" LOC = AB4;
#NET "ASIC_D<97>" LOC = AB5;
#NET "ASIC_D<98>" LOC = AC1;
#NET "ASIC_D<99>" LOC = AC2;
#NET "ASIC_D<100>" LOC = AE6;
#NET "ASIC_D<101>" LOC = AD6;
#NET "ASIC_D<102>" LOC = AF5;
#NET "ASIC_D<103>" LOC = AE3;
#NET "ASIC_D<104>" LOC = AD5;
#NET "ASIC_D<105>" LOC = AF4;
#NET "ASIC_D<106>" LOC = AF3;
#NET "ASIC_D<107>" LOC = AB7;
#NET "ASIC_D<108>" LOC = AF2;
#NET "ASIC_D<109>" LOC = AE5;
#NET "ASIC_D<110>" LOC = AE2;
#NET "ASIC_D<111>" LOC = AE1;
#NET "ASIC_D<112>" LOC = AD3;
#NET "ASIC_D<113>" LOC = AD1;
#NET "ASIC_D<114>" LOC = AC4;
#NET "ASIC_D<115>" LOC = AC3;
#NET "ADC_SCLK1" LOC = AC17 | IOSTANDARD = LVCMOS18;
#NET "ADC_SDIO1" LOC = AC16 | IOSTANDARD = LVCMOS18;
#NET "ADC_CSB1_N" LOC = AD15 | IOSTANDARD = LVCMOS18;
#NET "ADC_PDWN1" LOC = AD14 | IOSTANDARD = LVCMOS18;
#NET "ADC_SCLK2" LOC = AD13 | IOSTANDARD = LVCMOS18;
#NET "ADC_SDIO2" LOC = AC12 | IOSTANDARD = LVCMOS18;
#NET "ADC_CSB2_N" LOC = AD11 | IOSTANDARD = LVCMOS18;
#NET "ADC_PDWN2" LOC = AD10 | IOSTANDARD = LVCMOS18;
#NET "ADC_CLK1_P" LOC = AA18;
#NET "ADC_CLK1_N" LOC = Y18;
#NET "ADC_CLK2_P" LOC = AB15;
#NET "ADC_CLK2_N" LOC = AB16;
#NET "DAC_SYNC" LOC = W24 | IOSTANDARD = LVCMOS33;
#NET "DAC_SCK" LOC = V24 | IOSTANDARD = LVCMOS33;
#NET "DAC_D" LOC = AA24 | IOSTANDARD = LVCMOS33;
#NET "LVDS_SP_1P" LOC = Y10;
#NET "LVDS_SP_1N" LOC = Y11;
#NET "LVDS_SP_2P" LOC = Y12;
#NET "LVDS_SP_2N" LOC = Y13;
#NET "LVDS_SP_3P" LOC = AA17;
#NET "LVDS_SP_3N" LOC = AB17;
#NET "LVDS_SP_4P" LOC = Y8;
#NET "LVDS_SP_4N" LOC = AA8;
#NET "NIM_IN[0]" LOC = E16 ;
#NET "NIM_IN[1]" LOC = D15 ;
#NET "NIM_IN[2]" LOC = D13 ;
#NET "NIM_IN[3]" LOC = F14 ;
#NET "NIM_OUT[0]" LOC = A13 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "NIM_OUT[1]" LOC = A12 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "TDI_U" LOC = G14;
#NET "TDO_U" LOC = F13;
#NET "TMS_U" LOC = H14;
#NET "TCK_U" LOC = H13;
NET "RBCP_ACT" LOC = D25 | IOSTANDARD = LVCMOS33;
NET "REG_CLK" LOC = D26 | IOSTANDARD = LVCMOS33;
NET "REG_DI" LOC = J25 | IOSTANDARD = LVCMOS33;
NET "REG_DO" LOC = J26 | IOSTANDARD = LVCMOS33;
#NET "USR_ACTIVE" LOC = N26 | IOSTANDARD = LVCMOS33;
NET "USR_CLK" LOC = E25 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "USR_CLK50M" LOC = E12 ;
#NET "USR_CLK2" LOC = AC26 | IOSTANDARD = LVCMOS33;
#NET "USR_CLKIO" LOC = C26 | IOSTANDARD = LVCMOS33;
NET "TCP_CLOSE_ACK" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "TCP_CLOSE_REQ" LOC = T25 | IOSTANDARD = LVCMOS33;
#NET "USR_ETC0" LOC = H26;
#NET "USR_ETC1" LOC = H24;
#NET "USR_ETC<2>" LOC = M24;
#NET "USR_ETC<3>" LOC = L25;
#NET "USR_ETC<4>" LOC = K25;
#NET "USR_ETC<5>" LOC = G24;
#NET "USR_ETC<6>" LOC = F25;
#NET "USR_ETC<7>" LOC = E26;
#NET "USR_ETC<8>" LOC = J24;
#NET "USR_ETC<9>" LOC = G26;
#NET "USR_ETC<10>" LOC = G25;
#NET "USR_ETC<11>" LOC = F24;
#NET "USR_RX_EMPTY" LOC = M25 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_DATA[0]" LOC = R25 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_DATA[1]" LOC = N24 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_DATA[2]" LOC = P26 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_DATA[3]" LOC = T24 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_DATA[4]" LOC = U26 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_DATA[5]" LOC = U25 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_DATA[6]" LOC = U24 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_DATA[7]" LOC = P25 | IOSTANDARD = LVCMOS33;
NET "TCP_RX_WR" LOC = M26 | IOSTANDARD = LVCMOS33;
#NET "USR_RX_RV" LOC = R26 | IOSTANDARD = LVCMOS33;
NET "USR_TX_AFULL" LOC = AB26 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_DATA[0]" LOC = Y25 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_DATA[1]" LOC = AA25 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_DATA[2]" LOC = V26 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_DATA[4]" LOC = W25 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_DATA[3]" LOC = W26 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_DATA[5]" LOC = Y26 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_DATA[6]" LOC = L24 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_DATA[7]" LOC = K26 | IOSTANDARD = LVCMOS33;
NET "TCP_TX_WR" LOC = AB25 | IOSTANDARD = LVCMOS33;
NET "GPIO_LED[0]" LOC = A18 | IOSTANDARD = LVCMOS33;
NET "GPIO_LED[1]" LOC = C18 | IOSTANDARD = LVCMOS33;
NET "GPIO_LED[2]" LOC = A19 | IOSTANDARD = LVCMOS33;
NET "GPIO_LED[3]" LOC = B19 | IOSTANDARD = LVCMOS33;
#NET "GPIO_LED[4]" LOC = C19 | IOSTANDARD = LVCMOS33;
#NET "GPIO_LED[5]" LOC = A20 | IOSTANDARD = LVCMOS33;
#NET "GPIO_LED[6]" LOC = B20 | IOSTANDARD = LVCMOS33;
#NET "GPIO_LED[7]" LOC = B21 | IOSTANDARD = LVCMOS33;
NET "GPIO_DIP[0]" LOC = C21 | IOSTANDARD = LVCMOS33; #changed from dipsw0
NET "GPIO_DIP[1]" LOC = A22 | IOSTANDARD = LVCMOS33;
NET "GPIO_DIP[2]" LOC = B22 | IOSTANDARD = LVCMOS33;
NET "GPIO_DIP[3]" LOC = C22 | IOSTANDARD = LVCMOS33;
#NET "GPIO_DIP[4]" LOC = A23 | IOSTANDARD = LVCMOS33;
#NET "GPIO_DIP[5]" LOC = C23 | IOSTANDARD = LVCMOS33;
#NET "GPIO_DIP[6]" LOC = A24 | IOSTANDARD = LVCMOS33;
NET "USER_RESET" LOC = B24 | IOSTANDARD = LVCMOS33;
NET "cmd[0]" LOC = H3 | IOSTANDARD = LVCMOS33;
NET "cmd[1]" LOC = H4 | IOSTANDARD = LVCMOS33;
NET "cmd[2]" LOC = G1 | IOSTANDARD = LVCMOS33;
NET "cmd[3]" LOC = G2 | IOSTANDARD = LVCMOS33;
NET "cmd[4]" LOC = G4 | IOSTANDARD = LVCMOS33;
NET "cmd[5]" LOC = G5 | IOSTANDARD = LVCMOS33;
NET "cmd[6]" LOC = F2 | IOSTANDARD = LVCMOS33;
NET "cmd[7]" LOC = F3 | IOSTANDARD = LVCMOS33;
NET "PIXEL_SR_OUT" LOC = F5 | IOSTANDARD = LVCMOS33; #
#NET "USR_SUSPEND" LOC = D24 | IOSTANDARD = LVCMOS33;
#NET "USR_TESTPIN0" LOC = C24 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "USR_TESTPIN1" LOC = A25 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "USR_TESTPIN2" LOC = B25 | IOSTANDARD = LVCMOS33 | SLEW = FAST;
#NET "USR_TESTPIN3" LOC = B26 | IOSTANDARD = LVCMOS33 | SLEW = FAST;

#Created by Constraints Editor (xc5vlx50-ff676-3) - 2010/10/01
NET "USR_CLK50M" TNM_NET = "USR_CLK50M";
TIMESPEC TS_USR_CLK50M = PERIOD "USR_CLK50M" 20 ns HIGH 50 %;
##NET "REG_CLK" TNM_NET = "REG_CLK";
##TIMESPEC TS_REG_CLK = PERIOD "REG_CLK" 2000 ns HIGH 50 %;
#NET "ADC_DCO1_P" TNM_NET = "ADC_DCO1_P";
#TIMESPEC TS_ADC_DCO1_P = PERIOD "ADC_DCO1_P" 3.333 ns HIGH 50 %;
#NET "ADC_DCO2_P" TNM_NET = "ADC_DCO2_P";
#TIMESPEC TS_ADC_DCO2_P = PERIOD "ADC_DCO2_P" 3.333 ns HIGH 50 %;
#NET "ADC_FCO1_P" TNM_NET = "ADC_FCO1_P";
#TIMESPEC TS_ADC_FCO1_P = PERIOD "ADC_FCO1_P" 20 ns HIGH 50 %;
#NET "ADC_FCO2_P" TNM_NET = "ADC_FCO2_P";
#TIMESPEC TS_ADC_FCO2_P = PERIOD "ADC_FCO2_P" 20 ns HIGH 50 %;

# PlanAhead Generated IO constraints 

NET "REG_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
